* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(206, 197, 197, 0.027);
	overflow-x: hidden;
}

/*  ////////////  home page /////// */
.home {
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	width: 100%;
	height: 6em;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(56, 87, 133);
	z-index: 999;
}

.menu {
	z-index: 9999;
	list-style: none;
	display: flex;
}
.menu .menu-left {
	display: flex;
	margin-right: 26em;
}
.menu li {
	margin: 0 25px;
	list-style: none;
	display: inline-block;
	position: relative;
}

.logo {
	z-index: 7;
	display: flex;
	align-items: start;
	margin-top: -13px;
	margin-left: 350px;
	padding: 0;
	color: white;
}
.logo h1 {
	font-size: 75px;
	font-family: "Lobster", cursive;
}
.logo span {
	font-size: 38px;
}
.logo img {
	height: 100px;
	width: 100px;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-btn a {
	display: flex;
	align-items: center;
	font-size: 18px;
	text-decoration: none;
	color: white;
}
.dropdown-content {
	display: none;
	position: absolute;
	margin-top: 10px;
	border-radius: 5px;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.sub-menu {
	list-style: none;
	padding: 0;
}

.sub-menu li {
	padding: 10px;
}

.sub-menu li a {
	text-decoration: none;
	display: block;
	color: black;
}

.sub-menu li a:hover {
	background-color: #f1f1f1;
}

.arrow {
	margin-left: 5px;
	color: white;
}

.menu-link {
	color: white;
}

.dropdown-btn {
	display: flex;
	align-items: center;
}

/* /////////////////   home   ////////// */
.home {
	margin: 80px 300px;
	display: flex;
	flex-direction: row;
}
.home .leftside {
	padding-right: 20px;
	border-right: 1px rgb(230, 230, 230) solid;
	position: relative;
}
.home .leftside::before {
	content: "";
	position: absolute;
	top: 0;
	right: -1px;
	height: 100%;
	width: 1px;
	background-color: rgb(245, 245, 245);
	box-shadow: 5px 0 10px rgba(56, 87, 133, 0.623); /* Add shadow on the left side of the line */
}
.home .leftside .lists {
	display: flex;
	align-items: center;
	background-color: rgba(168, 188, 218, 0.329);
	padding: 0px 30px;
	border-radius: 10px;
	margin: 20px 60px;
}
.home .leftside .span {
	text-align: start;
	display: flex;
	margin-left: 80px;
	margin-bottom: 20px;
}
.home .leftside .span span {
	margin-right: 10px;
	font-size: 80px;
	text-shadow: 0 0 10px rgba(37, 74, 104, 0.568);
}
.home .leftside .span p {
	width: 25em;
	margin-top: 20px;
	font-size: 14px;
	color: rgb(37, 74, 104);
	text-shadow: 0 0 10px rgba(37, 74, 104, 0.596);
}
.home .leftside .lists span {
	margin-left: 10px;
	margin-right: 50px;
	background-color: rgba(56, 98, 133, 0.226);
	border-radius: 50%;
	height: 45px;
	width: 90px;
	font-size: 22px;
	padding-top: 10px;
}
.home .leftside .lists .desc {
	text-align: start;
	font-size: 13px;
}
.home .leftside .lists .desc h3 {
	margin-bottom: 0;
}
.home .leftside .lists .desc p {
	margin-top: 5px;
}
.home .rightside {
	margin-top: -40px;
}
.home .rightside .part-one {
	display: flex;
	align-items: center;
	justify-content: center;
}
.home .rightside .part-two {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home .rightside img {
	margin: 0;
	width: 650px;
	height: 200px;
}
.home .rightside .conatiner input {
	font-size: 16px;
	padding: 10px;
	border: 1px rgb(214, 214, 214) solid;
	border-radius: 5px;
}
.home .rightside .conatiner .login-button {
	background-color: rgb(56, 87, 133);
	color: white;
	border: none;
	padding: 10px 100px;
	border-radius: 4px;
	font-size: 18px;
	margin-left: 30px;
	margin-top: 15px;
	cursor: pointer;
}
/* ///////// student page   ///////////////// */
.container {
	display: flex;
	margin: 0 20em;
	margin-top: 30px;
}
.sidebar {
	background-color: rgba(240, 248, 255, 0.281);
	width: 250px;
	height: 19em;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	color: white;
	margin-right: 30px;
}
.sidebar li {
	display: flex;
	align-items: center;
	text-align: start;
	color: black;
	list-style: none;
	margin-top: -16px;
	margin-left: -40px;
	padding: 8px 10px;
	border-bottom: 1px rgb(207, 207, 207) solid;
}
.sidebar li span {
	font-size: 20px;
	color: rgb(36, 82, 151);
}
.sidebar a {
	margin-left: 7px;
	color: black;
	text-decoration: none;
	display: block;
	padding: 10px 0;
}
.container .navigation {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: white;
	padding: 15px 0;
	text-align: start;
	padding-left: 30px;
	background-color: rgb(64, 102, 158);
}
.content {
	flex-grow: 1;
}
.user-profile {
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: rgba(240, 248, 255, 0.247);
}
.user-profile h3 {
	margin-top: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color: white;
	padding: 13px 0;
	text-align: start;
	padding-left: 30px;
	font-weight: 100;
	background-color: rgb(64, 102, 158);
}
.user-profile li {
	margin-right: 40em;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user-profile li h2 {
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* /////////////// registration page   //////////////*/
