* {
	box-sizing: border-box;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(206, 197, 197, 0.027);
	overflow-x: hidden;
}
.home {
  margin: 40px 20em;
}
.home h1{
  font-size: 45px;
  margin: 0;
  margin-top: 60px;
}
.home h4{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.search-bar {
	width: 40%;
  background-color: white;
	box-shadow: 0 10px 20px 5px rgba(153, 153, 153, 0.2);
	display: flex;
	align-items: center;
	border-radius: 20px;
  padding: 10px 0;
  padding-left: 20px;
  margin: 40px 0 7px 20px;
}

.search-bar input {
	background: transparent;
	flex: 1;
	outline: none;
	font-size: 18px;
	border: 0;
  color: rgb(0, 21, 78);
}
::placeholder {
	color: rgb(255, 255, 255);
	font-size: 18px;
  color: rgb(0, 21, 78);
}
.search-bar button {
	border: 0;
	border-radius: 50%;
	width: 50px;
	height: 45px;
	background: transparent;
	cursor: pointer;
}
.search-results {
	width: 505px;
	height: 140px;
  background-color: white;
	box-shadow: 0 10px 20px 5px rgba(153, 153, 153, 0.2);
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	top: 17.7em;
	left: 21.3em;
	border-radius: 6px;
}
.result-name {
	margin-left: 1em;
}
.search-results::-webkit-scrollbar {
	display: none;
}
.search-item {
	height: 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: rgb(102, 102, 102);
	font-size: 21px;
	padding: 40px 0 12px 0px;
  margin: 0 40px;
	border-bottom: rgba(122, 122, 122, 0.562) 1px solid;
}











.home .todo-list h2{
  margin-top: 50px;
  font-size: 25px;
}
.home .todo-list ul{
  list-style: none;
  display: flex;
  width: 30em;
  font-size: 20px;
  color: rgb(102, 102, 102);
  justify-content: space-between;
}

.home .part-two .task-card{
  margin-top: 40px;
  width: 35em;
  border-radius: 30px;
  padding: 13px;
  padding-left: 30px;
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
}
.home .part-two .task-card h2{ 
  font-size: 30px;
}
.home .part-two .task-card .option-buttons{
  position: absolute;
  top: 30em;
  display: flex;
  flex-direction: column;
  right:60.7em ;
}
.home .part-two .task-card .option-buttons button{
  display: flex;
  background-color: white;
	box-shadow: 0 10px 20px 5px rgba(95, 95, 95, 0.2);
  border: none;
  border: 20px;
  font-size: 15px;
  height: 30px;
  padding:  5px 10px;
  padding-bottom: 10px;
  margin-bottom: 7px;
  border-radius: 8px;
}
.home .part-two .task-card .option-buttons span{
  background-color: white;
	box-shadow: 0 10px 5px rgba(95, 95, 95, 0.2);
  border: none;
  border: 20px;
  font-size: 15px;
  height: 30px;
  padding-top: 6px;
  padding-left: 18px;
  padding-bottom: 10px;
  margin-bottom: 7px;
  border-radius: 8px;
}
.home .sidebar{
  position: absolute;
  right: 18em;
  top: 40px;
}
.home .sidebar ul li{
  position: absolute;
}

li.selected {
  color: gold;
}
.home .sidebar .user-profile{
  display: flex;
  align-items: center;
}
.home .sidebar .user-profile .name {
  margin-left: 20px;
}
.home .sidebar .user-profile .name h4{
  font-size: 27px;
  font-weight: 100;
  margin-bottom: 0;
}
.home .sidebar .user-profile .name p{
  margin-top: 5px;
}
.home .sidebar .user-profile .icons{
  display: flex;
  justify-content: space-around;
  margin-left: 10em;
  font-size: 25px;
}
.home .sidebar .timetracker{
  display: flex;
  align-items: center;
  justify-content: space-between;
	box-shadow: 0 10px 20px 5px rgba(95, 95, 95, 0.2);
  border: none;
  border: 20px;
  font-size: 15px;
  padding:  5px 20px;
  padding-bottom: 10px;
  margin-top: 27px;
  border-radius: 20px;
}
.home .sidebar .timetracker h2{
  font-size: 25px;
  margin-bottom: 0;
}
.home .sidebar .timetracker p{
  margin-top: 10px;
}
.home .sidebar .date-container .date{
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.home .sidebar .date-container .date p{
  font-size: 20px;
}
.home .sidebar .date-container .date button{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  height: 55px;
  border: none;
  margin-top: 25px;
  font-size: 19px;
  border-radius: 20px;
}
.home .sidebar .date-container .task-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(35, 107, 110, 0.548);
	box-shadow: 0 10px 20px 5px rgba(95, 95, 95, 0.2);
  border: none;
  border: 20px;
  font-size: 15px;
  padding:  5px 20px;
  padding-bottom: 10px;
  margin-top: 27px;
  border-radius: 20px;
}
.modal{
  position: absolute;
  top: 35%;
  left: 35%;
  height: 20em;
  width: 30em;
  border-radius: 50px;
  padding: 20px;
  padding-left: 28px;
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 108, 110);
}
.modal .close{
  position: absolute;
  right: 26px;
  font-size: 30px;
  border: none;
  background: none;
}
.modal input{
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 10px;
  width: 20em;
  border: none;
  margin-top: 10px;
  margin-bottom: 0px;
}
.modal h3{
  font-weight: 100;
  font-size: 20px;
  margin: 0;
  margin-top: 30px;
}
.modal h2{
  font-weight: 100;
  font-size: 20px;
  margin: 0;
  margin-top: 30px;
}
.modal .datepicker{
  margin-top: 10px;
  padding-left: 28px;
  width: 8em;
}
.modal .add{
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: none;
  padding: 8px 20px;
  font-size: 20px;
  width: 5em;
  margin-top: 20px;
  margin-left: 8em;
  background-color: rgb(253, 255, 255);
	box-shadow: 0 10px 20px 5px rgba(153, 153, 153, 0.2);

}
